<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Unitri Games Championship</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="#">Unitri Games Championship</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="#">Home</a></li>
                <li><a href="#">Cadastre-se</a></li>
                <li><a href="#">Sobre..</a></li>
            </ul>
        </div>
    </div>
    <div id="banner">
        <div class="content">
            <div><img src="../static/images/principal.jpg" width="1000" height="400" alt="" /></div>
        </div>
    </div>
</div>
<div id="page">
    <div class="post">
        <h2 class="title"><a href="#">Bem vindo ao campeonato de games do Centro Univercitário do Triângulo</a></h2>
        <div class="entry">
            <p>Em breve serão divulgadas informações sobre o envento. Cadastre-se e fique por dentro!</p>
        </div>
    </div>
</div>

<div id="featured-content">
    <div id="column1">
        <h2>CS:GO</h2>
        <p><img src="../static/images/csgo.jpg" width="300" height="150" alt="" /></p>
        <p>Cadastre-se no campeonato de CS: Global Ofencive.</p>
        <p class="button"><a href="#">Saiba Mais</a></p>
    </div>
    <div id="column2">
        <h2>League of Legends</h2>
        <p><img src="../static/images/lol.jpg" width="300" height="150" alt="" /></p>
        <p>Cadastre-se no campeonato de League of Legends.</p>
        <p class="button"><a href="#">Saiba Mais</a></p>
    </div>
</div>

<div id="footer">
    <p>&copy; UnitriGamesChampionship. All rights reserved.</p>
</div>

</body>
</html>